.container
  .top-bar
    .top-left
      = image_tag 'back-tab.png', class: 'back-icon'
    .top-right
      %p Comment
  .comments-list
    .comment-author
      = Faker::Name.name
    .comment-body
      = Faker::Lorem.paragraph_by_chars(number: 100)
  .comment-form
    .btn-secondary.show-comment-form
      コメントを追加
    .comment-form-textarea.hidden
      = text_area_tag :comment_content, nil, class: 'comment-textarea'
      .btn-secondary
        コメントを追加
