.container
  = image_tag 'photo-camera.png', class: 'photo-img'

  .posts-wrapper
    .posts-info
      .posts-img-info
        = image_tag 'default-avatar', class: 'posts-account-img'
        .online-mark
      .posts-text-info
        %P.posts-name no name
        %p.posts-time no time
    .posts-content