.btn {
  width: 343px;
  height: 48px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(255, 230, 0, 1);
}

.authentication-btn {
  margin-top: 110px;
  margin-left: 16px;
}

.post-form-btn {
  margin-top: 150px;
}
