.comments-list {
  margin-top: 52px;
}

.comment {
  margin-bottom: 32px;
  padding: 0 35px;
}

.comment-author {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
}

.comment-body {
  font-size: 14px;
  line-height: 20px;
  color: rgba(155, 155, 155, 1);
}

.comment-input {
  width: 343px;
  margin-top: 90px;
}

.comment-form {
  position: relative;
}

.comment-mark {
  position: absolute;
  top: 110px;
  left: 30px;
}
