// index
.action-menu {
  display: flex;
  justify-content: space-between;
}

.photo-img {
  margin-bottom: 39px;
}

.post-wrapper {
  margin-bottom: 36px;
  padding-top: 5px;
  border-top: 1px solid #607d8b2b;
}

.post-info {
  display: flex;
}

.post-img-info {
  position: relative;
  margin-bottom: 11px;
  margin-right: 10px;
}

.online-mark {
  width: 6px;
  height: 6px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(0, 255, 102, 1);
  position: absolute;
  top: 20px;
  left: 20px;
}

.post-name {
  font-size: 14px;
  line-height: 16.41px;
}

.post-time {
  font-size: 12px;
  line-height: 18px;
  color: rgba(158, 158, 158, 1);
}

.post-content {
  margin-bottom: 10px;
}

.post-content p {
  font-size: 12px;
  line-height: 20px;
}

.post-img {
  display: flex;
  margin-bottom: 12px;
}

.post-img-left-wrapper {
  margin-right: 5px;
}

.post-img-right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-img-left {
  width: 198px;
  height: 225px;
}

.post-img-right {
  width: 138px;
  height: 109px;
}

.post-interaction {
  display: flex;
  gap: 14px;
}

// new
.post-form-menu {
  height: 26px;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
}

.post-form-user-info {
  display: flex;
  margin-top: 41px;
  margin-bottom: 30px;
}

.post-form-user-img {
  width: 40px;
  height: 40px;
}

.post-form-user-name {
  height: 40px;
  line-height: 40px;
  margin-left: 18px;
}

.post-form-content {
  width: 100%;
  height: 34px;
  line-height: 34px;
  border: none;
  border-bottom: 1px solid;
  resize: none;
  margin-bottom: 24px;
}
