.user-info {
  margin-top: 32px;
}

.user-img {
  width: 84px;
  height: 84px;
  border: 1px solid rgba(233, 30, 99, 1);
  border-radius: 40px;
  margin: 0 auto;
}

.file-upload {
  position: absolute;
  top: 190px;
  left: 45px;
}

.user-name {
  text-align: center;
  margin-top: 30px;
}

.user-stats {
  width: 241px;
  display: flex;
  justify-content: space-between;
  margin: 43px auto;
}

.stat-item {
  display: flex;
  flex-direction: column;
}

.stat-value {
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  color: rgba(51, 58, 66, 1);
}

.stat-label {
  font-size: 14px;
  line-height: 16.41px;
  text-align: left;
  color: rgba(158, 158, 158, 1);
}
